.legalContainer {
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  background-color: #fdfdfd;
  border-radius: 12px;
  border: 1px solid var(--color-grey-bg);
}

.legalContainer h1 {
  margin-bottom: 10px;
  color: var(--color-dark-blue);
}

.legalContainer h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--color-dark-blue);
}

.legalContainer p, .legalContainer li {
  margin-bottom: 15px;
  line-height: 1.7;
  color: #333;
}