.waveContainer {
  /* Trik untuk menarik ombak ke atas, menimpa sedikit HeroSection */
  margin-top: -100px; 
  line-height: 0;
  width: 100%;
}

.waveContainer svg {
  width: 100%;
  height: 200px;
}